@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+VA+Guides&display=swap');

#root {
  direction: rtl;




}
html{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", serif;

}

  