footer {
  width: 100%;
  background-color: #eee;
  padding: 45px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  margin: 0 auto;
  box-shadow: rgba(232, 4, 4, 0.1) 0px 1px 4px;
  border-top: 1.5px solid #b3181e;

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
    }
  }

  .Footer_Links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    @media screen and (max-width: 557px) {
      flex-wrap: wrap;
      gap: 20px;
    }

    li {
      list-style: none;
      padding: 4px;
      .Link {
        text-decoration: none;
        color: #1f1f1f;
        font-weight: 600;
        font-size: 20px;
        &:hover {
          color: #b3181e;
        }
      }
    }
  }
  .Social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    list-style: none;

    img {
      width: 35px;
    }
  }
  hr {
    border: 1px solid #df1c26;
  }
  .copyright {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
