.navbar {
  // background-color: #b8b3b3;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  box-shadow: rgba(232, 4, 4, 0.1) 0px 1px 4px;
  border-bottom: 1.5px solid #b3181e;
  padding: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.smallnav {
  background-color: #fff;
  width: 100%;
  color: #eee;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 575px) {
    justify-content: space-between;
  }
}

.logo {
  color: white;

  img {
    width: 60px;
    object-fit: cover;
  }
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  li {
    .Link {
      color: #000;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      &:hover {
        color: #b3181e;
      }
    }
  }
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  order: 3;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    top: 75px;

    background-color: #eee;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

.Notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 5px;
  @media (max-width: 575px) {
  }

  .Cart {
    padding: 4px 6px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

    span {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      height: 18px;
      width: 18px;
      background-color: #df1c26;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -5px;
    }

    img {
      width: 20px;
    }
  }
}

.User {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 4px;
  &:hover {
    border: none;
  }
  img {
    width: 25px;
  }
  .user-info {
    p {
      padding: 0;
      margin: 0;
      color: #777;
      font-size: 12px;
    }
    h3 {
      font-size: 16px;
      color: #1f1f1f;
      margin: 0;
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
}

.City_button {
  @media (max-width: 575px) {
  }

  .dropdown {
    .dropdown-toggle {
      &:after {
        margin-inline-start: 15px;
      }
    }
    .btn {
      padding: 10px 15px;
      border-radius: 6px;
      font-size: 16px;
      border: 1px solid #df1c26 !important;
    }
    .dropdown-menu {
      right: 0 !important;
    }
  }
}

//responsive small nav
.smallNot {
  display: none;
  @media (max-width: 575px) {
    display: flex;
  }
}

.button_lang {
  background-color: transparent;
  .dropdown {
    .btn {
      padding: 0;
      background-color: transparent;
      border: none;
      &::after {
        display: none;
      }
    }
  }
  img {
    width: 25px;
  }
}
