//  search input
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  .search-txt {
    width: 100%;
    padding: 10px 30px;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 10px;
    &:focus {
      border: none;
    }
  }
  .search-btn {
    position: absolute;
    left: 28px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    img {
      width: 20px;
    }
  }
}

/////////////
///select input
/// ///////////
.select {
  padding: 15px 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 100%;
  background: white;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  &:focus {
    border: 1px solid red;
  }
  &::-ms-expand {
    display: none;
  }
}

//////
/// ////
///
.input_flag {
  width: 100%;
  button {
    padding: 14px 20px;
    border: 1px solid #eee;
    border-radius: 10px;
  }
}

//////////////////
/// puplic input//
//////// ///////
.input-field {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #eee;
  border-radius: 10px;
}

///////////
.Form_group {
  width: 100%;
}

//////////////
/// Buttons///
/// /////////
.btn {
  width: 100%;
  background-color: #df1c26;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #df1c26;
  border-radius: 12px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #df1c26;
  border: 1px solid #df1c26;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
